include niftycloud/cacerts/cacerts.txt
include README.rst
include niftycloud/file/README
include .gitignore
include pylintrc
include niftycloud/endpoints.json
include niftycloud/pyami/copybot.cfg
include niftycloud/services/sonofmmm.cfg
include niftycloud/mturk/test/*.doctest
include niftycloud/mturk/test/.gitignore
recursive-include tests *.json *.py *.txt
recursive-include docs *
